@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.productcls{
height: 20vh;
width: 100%;
display: flex;
text-decoration: none;
justify-content: center;
align-items: center;
align-self: center;
padding-bottom: 70px;
border-bottom:  11px solid #fff;
    
}



.Product-title{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border:  none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    /* font-size: 15px; */
    letter-spacing: 10px;

}



a{
    color: #fff;
    text-decoration: none;

}
